In [24]:
import pandas as pd

dane =  pd.read_csv('Dane/salaries.csv', header=None)

def make_a_number(number):
    return int(float(number.replace("$","")))

dane[5] = dane[5].apply(make_a_number)

dane.dtypes

0    object
1    object
2    object
3    object
4    object
5     int64
6    object
dtype: object